/* 
- Clobal StyleSheet
- Header 
- Page Subheader
- Slider
- About Section
- Contact us section
- Our service Section
- Book Now Section
- Testimonial section
- OurTeam section
- News
- Footer
- FAQ Page
- News Page
- Global Archive
- Global Newscard
- Single News Page
- About Page
- Contact Us page 
- Login
- Responsiv
- Admin stylesheet see Admin.scss
*/

// Import Variables
@import 'variables';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.error {
  h2 {
    color: $orange;
  }

  p {
    color: $white;
  }
}

/*Global Link */
a {
  font-weight: 500;
  color: #000000;
  text-decoration: inherit;
}

/* Global button */
.btn {
  display: inline-block;
  background-color: $orange;
  color: $white;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  text-transform: uppercase;

  &:hover {
    background-color: rgba(255, 102, 0, 0.447);
    color: $orange;
  }

  &:hover.effect1 {
    background-color: rgba(255, 102, 0, 0.147);
    color: $orange;
    border: 1px solid $orange;
  }

  &:hover.effect2 {
    background-color: rgba(255, 102, 0, 0);
    color: $orange;
    border: 1px solid $orange;
  }
}


/* Global Text color */
.textOrange {
  color: $orange;
}

/*breadcrumbs */
.breadcrumbs {
  ul {
    display: flex;
    flex-direction: row;

    li {
      list-style-type: none;
      margin: 0 .3em;
    }
  }
}

/* header */
.headerContainer {
  position: relative;
  background-color: $Onyx;
  padding: .6em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;

  .navBar ul {
    display: flex;
    flex-direction: row;
    gap: 2em;
    background-color: $white;
    padding: 1em 30px;
    border-radius: 8px;
    z-index: 1;
    position: absolute;
    top: 70%;
    left: 50%;
    right: 50%;
    width: 1000px;
    transform: translateX(-50%);

    li {
      list-style-type: none;

      & a:hover {
        color: $orange;
      }
    }
  }

  .active a {
    color: $orange;
  }

  .menuIcon {
    display: none;
    cursor: pointer;
  }

  .search {
    position: absolute;
    top: 98%;
    right: 13%;
    transform: translateY(-50%);
    height: 40px;
    border-radius: 5px;
    border: 1px solid $sonic-silver;
    padding-left: 10px;
    z-index: 99;
  }

  .searchIcon {
    position: absolute;
    top: 100%;
    right: 14%;
    transform: translateY(-50%);
    color: $eerie-black;
    z-index: 99;
  }


  .headerTopbar {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: $white;

    .logo {
      margin-bottom: 15px;

      img {
        width: 150px;
        height: 50px;
      }
    }

    .contact {
      display: flex;
      gap: 2em;
      padding-top: 15px;
      font-size: .8rem;

      a {
        color: $white;
      }
    }

    .contactIcon {
      color: $orange;
      margin-right: 10px;
    }
  }
}

/* Page Subheader */
.headingContainer {
  background-color: $cultured;
  padding: 3em 0;

  .heading {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: 0 auto;
  }
}

/* HOMEPAGE */
/* Slider */
.sliderContainer {
  z-index: 97;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 98;
  }


  .slider {
    position: relative;

    .sliderImage {
      position: relative;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    .sliderContent {
      position: absolute;
      top: 50%;
      left: 50%;
      width: max-content;
      transform: translate(-50%, -50%);
      padding: 10px;
      z-index: 99;
      color: $white;
      text-align: center;
      animation: myAnim ease 1.5s normal forwards;

      span {
        font-size: 4rem;
      }
    }

    .sliderButton {
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 99;
    }
  }

  @keyframes myAnim {
    0% {
      opacity: 0;
      left: 0%;
    }

    100% {
      opacity: 1;
      left: 50%
    }
  }

}

/* About Section */
.AboutSection {
  text-align: center;
  padding: 4em 0;
  width: 1000px;
  margin: .6em auto;
  margin-bottom: 5em;

  p {
    margin-bottom: 1.7em;
  }
}

/* Contact us section */
.contactusSection {
  text-align: center;
  padding: 4em 0;
  margin: .6em auto;
  margin-bottom: 5em;
  background-color: $Onyx;
  color: $white;

  p {
    margin-bottom: 1.7em;
  }
}

/* Our service Section */

.OurServiceContainer {
  display: flex;
  width: 1100px;
  margin: 0 auto;
  gap: 2em;

  .serviceGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;

    .serviceAllCol {
      grid-column: 1/-1;
      margin-bottom: 3em;
    }

    .serviceItem {
      display: flex;
      gap: 1.5em;

      [class^="flaticon-"]:before,
      [class*=" flaticon-"]:before,
      [class^="flaticon-"]:after,
      [class*=" flaticon-"]:after {
        font-size: 45px;
        vertical-align: middle;
        line-height: 1;
        color: $orange;
      }

      h3 {
        margin-bottom: .7em;
      }
    }
  }

  .serviceWomen {
    align-self: end;

    img {
      object-fit: cover;
      width: 450px;
      height: 500px;
    }
  }
}

/* Book Now Section */
.bookNowSection {
  background-color: $cultured;

  .bookNowContainer {
    display: flex;
    width: 900px;
    margin: 0 auto;
    padding: 2em 0;
    justify-content: space-between;

    h2 {
      line-height: 20px;

      span {
        color: $orange;
      }
    }

    input {
      height: 40px;
      padding-left: 11px;
      margin: 0 .5em;
      outline: none;
      border: .5px solid $sonic-silver;
      border-radius: 5px;
    }
  }
}

/* Testimonial section */
.testimonialSection {
  overflow-x: hidden;
  padding-bottom: 10%;
  position: relative;
  background-color: $cultured;

  .testimonialbg {
    position: relative;

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $Onyx;
      opacity: .8;
      z-index: 99;
    }

    .testimonialbgImage {
      z-index: 98;
      height: 231px;
      width: 150%;
      position: relative;


      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }
  }

  .testimonialheading {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    color: $white;
    text-align: center;

    span {
      color: $orange;
    }
  }

  .testimonialSlider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
    position: relative;
    z-index: 100;
  }

  .testimonialCard {

    width: 300px;
    padding: 20px;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: grab;
    user-select: none;
  }

  .testimonialCard {
    width: 350px;
    height: 300px;
    padding: 20px;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: grab;
    position: relative;
    z-index: 99;
    display: flex;
    flex-direction: column;

    img {
      position: absolute;
      top: -5%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      width: 80px;
      margin: 0 auto;
      border-radius: 50%;
      margin-bottom: 10px;
      pointer-events: none;
    }

    .sliderContent {
      margin-top: 1.5em;
    }

    .sliderContent {
      text-align: center;

      h3 {
        color: $red;
        text-align: center;
      }

      h3,
      p {
        margin: .5em 0;
      }

    }



  }
}

/* OurTeam section */
.teamContainer {
  margin: 2em auto;
  width: 1000px;

  .teamHeading {
    text-align: center;
    margin-bottom: 2em;
  }

  .teamPeople {
    display: flex;
    gap: 25px;
    justify-content: space-around;

    .teamPerson {
      position: relative;

      img {
        object-fit: cover;
        height: 400px;
      }

      .teamContent {
        display: none;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 250px;
        padding: 1.5em;
        text-align: center;
        background-color: $orange;
        transform: translateY(100%);
        transition: transform 0.5s ease-in;
        transition: transform 0.5s ease-out;
        color: $white;

        h2,
        p {
          margin: 0;
        }

        .teamSocial {
          margin-top: 10px;


          svg {
            margin: 0 5px;
            color: $white;
          }
        }
      }

      &:hover {
        .teamContent {
          display: block;
          transform: translateY(0%);
        }
      }
    }
  }
}

/* News */
.latestNewsContainer {

  width: 1200px;
  margin: 2em auto;

  .latestNewsHeading {
    text-align: center;
    margin: 3em 0;
  }

  .btn {
    display: flex;
    width: 200px;
    margin: 2em auto;
    justify-content: center;
  }
}

/* Footer */
.footerContainer {
  background-color: $Onyx;
  color: $white;
  padding: 4em 0;

  a {
    color: $white;
  }

  .footerContent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
    width: 1000px;
    margin: 0 auto;

    ul {
      li {
        list-style-type: none;
        margin: 15px 0;

        & a:hover {
          color: $orange;
        }
      }
    }

  }

  input {
    height: 40px;
    border: none;
    padding-left: 11px;
    margin: 1em 0;
    border-radius: 5px;
    background-color: $independence;
    color: $white;
    outline: none;
  }

  .footerCopyrigt {
    display: flex;
    flex-direction: column;
    grid-column: 1/3;
    row-gap: 1;
    justify-content: space-between;
  }

  .footerSocial {
    grid-column: 4/-1;
    display: flex;

    .socialMedia {
      margin: .2em;
      font-size: 20px;

    }
  }

  .backToTop {
    position: relative;
    transform: rotate(90deg);
    width: 30px;
    left: 90%;
    cursor: pointer;
  }
}

/* FAQ Page */
//FAQ accordion
.faqAccordion {
  width: 900px;
  align-self: center;
  margin: 10.3em auto;


  .faqItem {
    border: 1px solid $sonic-silver;
    border-radius: 5px;
    margin: 1em 0;
    cursor: pointer;

    &:first-child {
      margin-top: 0;
    }
  }

  .faqQuestion {
    padding: 11px;
    display: flex;
    justify-content: space-between;
    user-select: none;
  }

  .faqQuestionExpanded {
    background-color: $orange;
    color: $white;
  }

  .AngleUp {
    color: $white;
  }

  .faqAnswer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    padding: 1em;
    border-radius: 0 0 15px 15px;
    margin-top: 10px;
  }

  .faqItem.expanded .faqAnswer {
    max-height: 500px;
  }
}

/* News Page */
.newssection {
  .newsPageContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2em auto;
    width: 1000px;


    .newsCardContainer {
      display: grid;
      grid-template-columns: repeat(2, 1fr);



      .newsCardContent {
        height: 200px;

        p {
          margin: 1em 0;
        }

        .comments {
          margin: 5px;

          svg {
            color: $sonic-silver;
          }
        }
      }
    }

    .newssection {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .newsPageContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
    }

    .newsCardContainer {
      width: 70%;
    }

    .newsArchive {
      width: 25%;
    }

    .pagination {
      margin-top: 2em;

      button {
        border: 1px solid $platinum;
        padding: 15px;
        margin: 0 2px;
        border-radius: 5px;
        background-color: $white;
        cursor: pointer;

        &:hover {
          background-color: $orange;
          color: $white;
        }
      }

    }

  }
}

/* Global Archive */
.newsArchiveCard {
  margin-top: 2em;
  width: 400px;

  p {
    width: 250px;
  }

  img {
    width: 90px;
  }

  .newsArchiveIcon {
    color: $platinum;
  }

  .line,
  .archiveCardLine,
  .newsCardLine {
    margin: 2px 0;
    height: 1px;
    width: 70%;
    background-color: $sonic-silver;
  }

  .newsCardLine {
    width: 100%;
  }

  .archiveCardLine {
    margin: 15px 0;
  }
}

/* Global Newscard */
.newsCardContainer {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;

  .newsCard {
    background-color: #faf4f4;
    box-shadow: 1px 2px 15px #e7e5e5;

    &:hover {
      box-shadow: 1px 2px 15px #7d7373;
      border-radius: 8px;
    }

    img {
      object-fit: cover;
      width: 350px;
      height: 100%;
      border-radius: 8px 8px 0 0;

    }

    .newsCardDate {
      background-color: $orange;
      display: inline-block;
      position: absolute;
      top: 5%;
      z-index: 99;
      left: 5%;
      width: 55px;
      padding: 1em .5em;
      border-radius: 3px;

      p {
        text-align: center;
        color: $white;
        font-size: 1.3rem;
      }
    }

    .newsCardHead {
      position: relative;
    }

    .newsCardContent {
      width: 350px;
      height: 140px;
      padding: 0 2em 2em;

      h2 {
        font-size: 1.2rem;
        margin: .5em 0;

        &:hover {
          color: $orange
        }
      }
    }
  }
}

/* Single News Page */
.singleNewsContainer {
  .singleNewsArticleContainer {
    display: flex;
    width: 1000px;
    margin: 0 auto;
    gap: 5em;

    .singleNewsArticleContent {
      background-color: #fefefe;
      box-shadow: 1px 2px 15px #e7e5e5;
      margin-bottom: 3em;

      .SingleNewshead {
        position: relative;

        img {
          object-fit: cover;
          width: 550px;
          height: 100%;
          border-radius: 5px 5px 0 0;
        }

        .newsDate {
          background-color: $orange;
          display: inline-block;
          position: absolute;
          top: 5%;
          z-index: 99;
          left: 5%;
          width: 55px;
          padding: 1em .5em;
          border-radius: 3px;

          p {
            text-align: center;
            color: $white;
            font-size: 1.3rem;
          }
        }
      }

      .singleNewsBody {
        padding: 1em 1.2em;

      }

      .comments {
        margin: 10px;
      }

      h2 {
        margin: .5em 0;
      }

      .line {
        margin: 1em 0;
        height: 1px;
        width: 100%;
        background-color: $sonic-silver;
      }
    }

    .commentsField {
      h2 {
        margin: 1em 0;
      }

      .comments {
        padding: 0 30px;

        h3,
        p {
          margin: .7em 0;
        }
      }
    }

    .singleNewsCommentsForm {
      display: flex;
      flex-direction: column;
      margin: auto;

      div {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
      }

      input[type="text"],
      input[type="email"],
      textarea {
        width: calc(50% - 5px);
        padding: 10px;
        margin-bottom: 10px;
      }

      textarea {
        width: 100%;
        resize: none;
      }

      button {
        align-self: flex-start;
        padding: 10px 20px;
        margin-bottom: 5em;
      }
    }


  }
}

/* Service page */
.serviceSection {
  .selectedServiceContainer {
    display: flex;
    width: 1000px;
    margin: 0 auto;
    gap: 1.5em
  }

  .serviceNav {
    .serviceBox {
      display: block;
      width: 400px;
      height: 40px;
      padding: .5em;
      margin: .5em 0;
      border: .5px solid $sonic-silver;
      border-radius: 5px;
      cursor: pointer;
      user-select: none;

      &:hover {
        background-color: $orange;
        color: $white;
      }
    }

    .arrows {
      font-size: 20px;
    }

    .active {
      background-color: $orange;
      color: $white;
    }
  }

  .serviceContent {
    width: 100%;
    margin-bottom: 5em;

    img {
      width: 550px;
    }

    p {
      margin: 1em 0;
    }

    ul,
    ol {
      margin-left: 20px;
    }
  }
}

/* About Page */
.aboutSection {

  .aboutHeader {
    width: 1000px;
    margin: 2em auto;
    text-align: center;
  }


  .aboutContainer {
    width: 1000px;
    margin: 2em auto;
    display: flex;
    gap: 5em;

    .aboutContent {

      p {
        margin: 1em 0;
      }

      .aboutText {
        margin: 1em 0;

        ul {
          margin: 1em 0;
          padding-left: 20px;
          list-style-type: circle;
        }
      }
    }

    .aboutImage {
      width: 1250px;


      img {
        object-fit: cover;
        width: 100%;
        border-radius: 5px;
      }
    }
  }
}

/* Contact Us page */
.contactSection {
  margin-bottom: 2em;

  .contactInfoContainer {
    display: flex;
    width: 1000px;
    margin: 5em auto;
    justify-content: space-evenly;
    border: 1px solid $sonic-silver;
    padding: 1em 0;
    border-radius: 5px;

    .contactInfo {
      display: flex;
      flex-direction: row;
    }

    .contactIcon {
      display: flex;
      margin-right: 1em;

      svg {
        color: $orange;
        font-size: 1.8rem;
      }
    }

    a {
      font-weight: 400;
    }

    .line {
      height: 50px;
      background-color: $sonic-silver;
      width: 1px;
    }
  }

  .contactFormContainer {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    gap: 10px;

    .contact {
      p {
        width: 500px;
        margin: 1em 0;
      }

      .contactFormInput {
        display: flex;
        flex-direction: column;
        margin-right: 1.4em;

        input {
          height: 40px;
          width: 320px;
          border-radius: 5px;
          margin: .5em 0;
          outline: none;
          border: 1px solid $sonic-silver;
          padding: 10px;
        }
      }

      textarea {
        width: 320px;
        resize: none;
        border-radius: 5px;
        padding: 5px 11px;
        outline: none;
      }

    }

    .contactMap {
      border-radius: 5px;

      .GoogleMap {
        width: 100%;
        height: 100%;
        border: none;

      }
    }
  }
}

/* Login */
.loginContainer {
  height: 57vh;

  .loginFormContainer {
    width: 400px;
    margin: 5em auto;
    background-color: $Onyx;
    background-color: $Onyx;
    padding: 1em;
    border-radius: 5px;

    h2 {
      text-align: center;
      color: $white;
    }

    .loginForm {
      display: flex;
      flex-direction: column;
      width: 300px;
      justify-content: center;
      margin: 1em auto;
      align-self: center;


      input {
        height: 40px;
        margin: .5em 0;
        border-radius: 5px;
        border: 1px solid $sonic-silver;
      }

    }
  }
}

/* Loader */

.loader {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #000000c7;
  height: 100vh;
  width: 100%;
  z-index: 98;

  .loaderContainer {
    position: relative;
    top: 10%;
    left: 2%;
    background-color: $Onyx;
    width: 400px;
    margin: 4em auto;
    padding: 2em;
    color: $white;
    text-align: center;
    border-radius: 5px;
    z-index: 99;

    .LoaderImage {
      margin: 1em 0;
      border-radius: 5px;
    }
  }

}


/* Responsiv */
//1024px
@media only screen and (max-width: 1024px) {

  /* Our Service */
  .OurServiceContainer {
    width: 900px; //

    .serviceGrid {
      gap: .4em; //  
    }

    .serviceWomen {
      img {
        width: 250px;
        height: 300px;
      }
    }
  }

  /* News */
  .latestNewsContainer {
    width: 900px;
  }

  .newsCardContainer {

    .newsCard {
      img {
        width: 300px;
        height: 200;
      }

      .newsCardDate {
        width: 45px;
        padding: .5em .5em;
      }

      .newsCardContent {
        width: 250px;
        height: 200px;
      }
    }
  }

  /* Page Subheader */
  .headingContainer {
    background-color: $cultured;
    padding: 3em 0;

    .heading {
      display: flex;
      justify-content: space-between;
      width: 900px;
      margin: 0 auto;
    }
  }

  /* News Page */
  .newssection {
    .newsPageContainer {
      margin: 2em auto;
      width: 700px;

    }
  }

  /* Global Archive */
  .newsArchiveCard {
    width: 200px;

    .line,
    .archiveCardLine,
    .newsCardLine {
      width: 100%;
    }
  }

  /* Global Newscard */
  .newsCardContainer {
    gap: 15px;

    .newsCard {
      img {
        width: 250px;
      }

      .newsCardDate {
        width: 55px;
        padding: .5em;

        p {
          font-size: 1rem;
        }
      }

      .newsCardContent {
        width: 280px;
      }
    }
  }

  /* Single News Page */
  .singleNewsContainer {
    .singleNewsArticleContainer {
      width: 900px;
    }
  }
}

//768px
@media only screen and (max-width: 768px) {

  /* header */
  .headerContainer {
    display: block;

    .navBar {
      gap: 1em;
      width: 700px;
    }

    .navBar ul {
      gap: 1em;
      z-index: 1;
      width: 700px;


      .search {
        height: 30px;
      }
    }

    .headerTopbar {
      position: relative;
      width: 600px;
      display: flex;
      justify-content: space-between;
      padding: 1em;
      color: $white;

      .logo {
        margin-bottom: 15px;

        img {
          width: 150px;
          height: 50px;
        }
      }

      .contact {
        display: flex;
        gap: 2em;
        padding-top: 15px;
        font-size: .8rem;

        a {
          color: $white;
        }
      }

      .contactIcon {
        color: $orange;
        margin-right: 10px;
      }
    }
  }

  /* Slider */
  .sliderContainer {
    .slider {
      position: relative;

      .sliderImage {
        position: relative;

        img {
          object-fit: cover;
          width: 100%;
          height: 450px;
        }
      }
    }

    .sliderContent {
      position: absolute;
      top: 50%;
      left: 50%;
      width: max-content;
      transform: translate(-50%, -50%);
      padding: 10px;
      z-index: 99;
      color: $white;
      text-align: center;
      animation: myAnim ease 1.5s normal forwards;

      span {
        font-size: 4rem;
      }
    }

    .sliderButton {
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 99;
    }
  }

  /* About Section */
  .AboutSection {
    width: 700px;
  }

  /* Our Service */
  .OurServiceContainer {
    width: 700px;
    flex-direction: column;
    gap: 2em;

    .serviceGrid {
      gap: .5em;

      .serviceItem {
        gap: 1em;

        [class^="flaticon-"]:before,
        [class*=" flaticon-"]:before,
        [class^="flaticon-"]:after,
        [class*=" flaticon-"]:after {
          font-size: 30px;
        }
      }
    }
  }

  /* Book Now Section */
  .bookNowSection {
    background-color: $cultured;

    .bookNowContainer {
      display: flex;
      width: 600px;
      margin: 0 auto;
      padding: 2em 0;
      flex-direction: column;

      form {
        margin-top: 1em;
        display: flex;
        flex-direction: column;
      }

      input {
        display: flex;
        flex-direction: column;
        margin: .5em;
      }

      button {
        justify-content: center;
        margin: .5em auto;
        width: 250px;
      }
    }
  }

  /* OurTeam section */
  .teamContainer {
    width: 600px;

    .teamPeople {
      .teamPerson {
        img {
          height: 300px;
        }
      }
    }
  }

  /* News */
  .latestNewsContainer {
    width: 600px;
  }

  /* Global Newscard */
  .newsCardContainer {
    display: flex;
    flex-direction: row;
    gap: 3px;
    justify-content: center;

    .newsCard {
      box-shadow: 1px 2px 15px #e7e5e5;

      &:hover {
        box-shadow: 1px 2px 15px #7d7373;
        border-radius: 8px;
      }

      img {
        object-fit: cover;
        width: 230px; //
        height: 150px; //
      }

      .newsCardDate {
        width: 45px;

        p {
          font-size: 1rem;
        }
      }

      .newsCardContent {
        width: 200px;
        height: fit-content;
        padding: 0 2em 2em;

        h2 {
          font-size: 1.2rem;
          margin: .5em 0;

          &:hover {
            color: $orange
          }
        }
      }
    }
  }

  /* Footer */
  .footerContainer {
    font-size: 14px;

    .footerContent {
      width: 600px;

      ul {
        li {
          margin: 15px 0;
        }
      }
    }

    input {
      height: 30px;
    }
  }

  /* Page Subheader */
  .headingContainer {
    background-color: $cultured;
    padding: 3em 0;

    .heading {
      display: flex;
      justify-content: space-between;
      width: 700px;
      margin: 0 auto;
    }
  }

  /* FAQ Page */
  .faqAccordion {
    width: 700px;
  }

  /* News Page */
  .newssection {
    .newsPageContainer {
      width: 600px;

      .newsCardContainer {
        .newsCardContent {
          height: fit-content; ///
        }
      }

      .newsArchive {
        width: 25%;
      }

      .pagination {
        margin-top: 2em;
      }
    }
  }

  /* Global Archive */
  .newsArchiveCard {
    width: 150px;


    .line,
    .archiveCardLine,
    .newsCardLine {
      width: 100%;
    }

  }

  /* Global Newscard */
  .newsCardContainer {
    gap: 15px;

    .newsCard {
      img {
        width: 200px;
      }

      .newsCardDate {
        width: 55px;
        padding: .5em;

        p {
          font-size: 1rem;
        }
      }

      .newsCardContent {
        width: 200px;
        height: 140px;
      }
    }
  }

  /* Single News Page */
  .singleNewsContainer {
    .singleNewsArticleContainer {
      width: 600px;
      gap: .8em;

      .singleNewsArticleContent {
        .SingleNewshead {
          position: relative;

          img {
            width: 450px;
          }

          .newsDate {
            z-index: 98;

            width: 65px;
            padding: .5em;

            p {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }

  /* Service page */
  .serviceSection {
    .selectedServiceContainer {
      flex-direction: column;
      width: 600px;
    }

    .serviceNav {
      .serviceBox {
        margin: .5em auto;
      }
    }
  }

  /* About Page */
  .aboutSection {
    .aboutHeader {
      width: 600px;
    }

    .aboutContainer {
      width: 600px;
      gap: 1em;
    }
  }

  /* Contact Us page */
  .contactSection {
    margin-bottom: 2em;

    .contactInfoContainer {
      width: 600px;

      .contactIcon {
        display: flex;
        flex-direction: row;
        margin-right: 1em;

        svg {
          color: $orange;
          font-size: 1.8rem;
        }
      }

    }

    .contactFormContainer {
      max-width: 600px;
      flex-direction: column;
    }
  }

}

//425px
@media only screen and (max-width: 425px) {

  /* header */
  .headerContainer {
    .navBar {
      display: flex;
      flex-direction: row;
      gap: 2em;
      background-color: $white;
      padding: 1em 30px;
      border-radius: 5px 5px 5px 5px;
      z-index: 1;
      position: absolute;
      top: 80%;
      left: 50%;
      right: 50%;
      width: 400px;
      transform: translateX(-50%);

      .menuIcon {
        display: block;
        margin: 0;
        font-size: 1.5rem;
        background-color: $Onyx;
        color: $white;
        padding: 5px 10px;
      }

      ul {
        display: none;
      }

      li {
        margin: 10px 0;
      }
    }

    .navBar.active ul {
      display: flex;
      position: absolute;
      flex-direction: column;
      background-color: $white;
      top: 90%;
      right: 0%;
      z-index: 9999;
      width: 100%;
      padding: 20px;
      border-radius: 0 0 5px 5px;
      box-sizing: border-box;
      transition: top 0.5s ease-out;

      li {
        background-color: $Onyx;
        padding: 1em 10px;
        margin: 1px;

        a {
          color: $white;
        }

        &:hover {
          background-color: $orange;
        }

      }
    }

    .search {
      top: 50%;
      right: 30px;
    }

    .searchIcon {
      top: 50%;
      right: 40px;
    }

    .headerTopbar {
      max-width: 325px;
      flex-direction: column;

      .contact {
        display: flex;
        flex-direction: column;
        gap: .5em;
        padding: .5em 0 4em 0;
        font-size: 1.2em;
        text-align: center;
      }
    }
  }

  /* Slider */
  .sliderContainer {
    .slider {
      position: relative;

      .sliderImage {
        position: relative;

        img {
          object-fit: cover;
          width: 100%;
          height: 350px;
        }
      }

      .sliderContent {
        position: absolute;
        top: 50%;
        left: 50%;
        width: max-content;
        transform: translate(-50%, -50%);
        padding: 10px;
        z-index: 99;
        color: $white;
        text-align: center;
        animation: myAnim ease 1.5s normal forwards;

        span {
          font-size: 4rem;
        }
      }

      .sliderButton {
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 99;
      }

    }
  }

  /* About Section */
  .AboutSection {
    width: 300px;
  }

  /* Our service Section */
  .OurServiceContainer {
    width: 370px;

    .serviceGrid {
      display: flex;
      flex-direction: column;
      gap: 0;

      .serviceItem {
        gap: 1.5em;
      }
    }

    .serviceWomen {
      align-self: end;

      img {
        object-fit: cover;
        width: 350px;
        height: 400px;
      }
    }
  }

  /* Book Now Section */
  .bookNowSection {
    .bookNowContainer {
      width: 370px;

      input {
        margin: .5em;
      }
    }
  }

  /* Testimonial section */
  .testimonialSection {
    padding-bottom: 10%;

    .testimonialheading {
      top: 15%;

    }

    .testimonialSlider {
      margin-top: -17px;
    }

    .testimonialCard {
      width: 300px;
    }
  }

  /* OurTeam section */
  .teamContainer {
    margin: 2em auto;
    width: 370px;

    .teamHeading {
      text-align: center;
      margin-bottom: 2em;
    }

    .teamPeople {
      display: flex;
      flex-direction: column;

      .teamPerson {
        margin: 0 auto;

        img {
          object-fit: cover;
          height: 400px;
        }
      }
    }
  }

  /* News */
  .latestNewsContainer {

    width: 370px;
    margin: 2em auto;
  }

  /* Global Newscard */
  .newsCardContainer {
    flex-direction: column;

    .newsCard {
      margin: 1em 0;

      img {
        width: 350px;
        height: 100%;

      }

      .newsCardDate {
        width: 55px;
        padding: 1em .5em;

        p {
          text-align: center;
          color: $white;
          font-size: 1.3rem;
        }
      }

      .newsCardContent {
        width: 350px;
        height: 140px;
        padding: 0 2em 2em;

        h2 {
          font-size: 1.2rem;
          margin: .5em 0;

          &:hover {
            color: $orange
          }
        }
      }
    }
  }

  /* Footer */
  .footerContainer {
    .footerContent {
      display: flex;
      flex-direction: column;
      width: 370px;
      margin: 0 auto;

    }

    form {
      display: flex;
      flex-direction: column;
      width: 370px;

      button {
        width: 150px;
      }
    }

    .backToTop {
      left: 80%;
    }
  }

  /* Page Subheader */
  .headingContainer {
    background-color: $cultured;
    padding: 3em 0;

    .heading {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 300px;
      margin: 0 auto;
    }
  }

  /* FAQ Page */
  .faqAccordion {
    width: 300px;
  }

  /* News Page */
  .newssection {
    .newsPageContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 2em auto;
      width: 370px;


      .newsCardContainer {
        display: flex;
        flex-direction: column;
        margin: 0 auto;

        .newsCardContent {
          height: fit-content;
          width: fit-content;
          padding: 0 30px;
        }
      }

      .newsCardContainer {
        width: 300px;
      }

      .pagination {
        margin: 2em 0;
      }
    }
  }

  /* Global Archive */
  .newsArchiveCard {
    width: 300px;
  }

  /* Global Newscard */
  .newsCardContainer {
    .newsCard {
      img {
        width: 300px;
      }

      .newsCardDate {
        z-index: 97;
        padding: .5em;

        p {
          font-size: 1rem;
        }
      }

      .newsCardHead {
        position: relative;
      }

      .newsCardContent {
        width: 350px;
      }
    }
  }

  /* Single News Page */
  .singleNewsContainer {
    .singleNewsArticleContainer {
      display: flex;
      flex-direction: column;
      width: 350px;
      gap: 5em;

      .singleNewsArticleContent {
        .SingleNewshead {
          img {
            object-fit: cover;
            width: 350px;
          }

          .newsDate {
            z-index: 97;
            width: 55px;
            padding: .5em;

            p {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }

  /* Service page */
  .serviceSection {
    .selectedServiceContainer {
      display: flex;
      flex-direction: column;
      width: 350px;
    }

    .serviceNav {
      .serviceBox {
        width: 350px;
      }
    }

    .serviceContent {
      img {
        width: 350px;
      }
    }
  }

  /* About Page */
  .aboutSection {
    .aboutHeader {
      width: 350px;
    }

    .aboutContainer {
      width: 350px;
      flex-direction: column-reverse;
      gap: 2em;

      .aboutImage {
        width: 350px;

        img {
          width: 350px;
        }
      }
    }
  }

  /* Contact Us page */
  .contactSection {

    .contactInfoContainer {
      flex-direction: column;
      width: 350px;

      .contactInfo {
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
      }

      .contactIcon {
        display: flex;
        margin: 0 auto;
      }

      .line {
        height: 1px;
        width: 90%;
      }
    }

    .contactFormContainer {
      max-width: 350px;

      .contact {
        p {
          width: 300px;
        }
      }

      .contactMap {
        margin-top: 2em;
      }
    }
  }
}

//374px
@media only screen and (max-width: 375px) {

  /* header */
  .headerContainer {
    .navBar {
      width: 350px;
    }
  }

  /* About Section */
  .AboutSection {
    width: 300px;
  }

  /* Our service Section */
  .OurServiceContainer {
    width: 370px;
  }

  /* Book Now Section */
  .bookNowSection {
    .bookNowContainer {
      width: 370px;
    }
  }


  /* OurTeam section */
  .teamContainer {
    width: 370px;

  }

  /* News */
  .latestNewsContainer {
    width: 370px;
    margin: 2em auto;
  }

  .newsCardContainer {

    img {
      width: 350px;
      height: 100%;

    }

    .newsCardContent {
      width: 350px;
      height: 140px;
    }
  }

  /* Footer */
  .footerContainer {
    .footerContent {
      display: flex;
      flex-direction: column;
      width: 300px;
      margin: 0 auto;
    }

    form {
      display: flex;
      flex-direction: column;
      width: 300px;
    }
  }
}