//Global Variables

$Onyx: #343742ff;
$orange: #ff6600ff;
$orangeLight: rgba(188, 81, 9, 0.741);
$white: #ffffff;


$eerie-black: #222222ff;
$star-command-blue: #337ab7ff;

$independence: #474b5aff;
$dim-gray: #676a73ff;
$sonic-silver: #777777ff;
$gainsboro: #d4dae3ff;
$platinum: #e5e5e5ff;
$cultured: #f8f8faff;

$red: #ec0000